html
{
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    background: url('img/Bg.jpg');
    background-size: cover;
    background-position:center ;
    background-repeat:no-repeat ;
    height: 100%;
}
.Login_Bar
{
    background-color: rgb(0,0,0,0.6);
    width: 300px;
    position: absolute;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: whitesmoke;
}
.Login_Bar #applogo
{
    width: 30%;
    margin-top: -90px;
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 50px;
}

.Login_Bar input[type = "text"],.Login_Bar input[type="password"]
{
    display: block;
    background: none;
    /* background-color: #000; */
    padding: 14px 10px;
    margin: 20px auto;
    width: 220px;
    border-radius: 24px;
    border: 3px #3872ca solid;
    color: whitesmoke;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    transition: 0.3px;
}
#clock 
{
    font-size: 25px;
    font-weight: bold;
}

.Login_Bar input[type = "text"]:focus,.Login_Bar input[type="password"]:focus
{
    width: 230px;
    border: 3px rgb(241, 77, 110) solid;
    outline: none;
}
#Login_Btn
{
    background: rgb(241, 77, 110);
    padding: 8px 80px;
    color: whitesmoke;
    font-size: 15px;
    font-weight: 700;
    margin-top: -15px;
    margin-bottom: 9px;
    border: 3px rgb(241, 77, 110) solid;
    border-radius: 24px;
    transition: 0.9px;
}
#Login_Btn:hover
{
    background: rgb(0,0,0,0.6);
    cursor: pointer;

}
.Login_Bar a
{
    text-decoration: none;
    padding: 10px;
    color: white;
    position: sticky;
}
.Login_Bar a:hover
{
    font-weight: bold;
}