body
{
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    background: url('img/Bg.jpg');
    background-size: cover;
    min-width: 400px;
}
.Login_Bar
{
    background-color: rgb(0,0,0,0.4);
    width: 300px;
    position: absolute;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: whitesmoke;
}
.Login_Bar #applogo
{
    width: 30%;
    margin-top: -90px;
    background-color: whitesmoke;
    border-radius: 50px;
}