body
{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url('img.jpg');
}

h1
{
    color: goldenrod;
    font-weight: bold;
}
h2
{
    font-style: italic;
    color: azure;
}
p
{
    color:aliceblue
}
span 
{
    color: rgb(174, 11, 11);
    font-weight: bold;
}
button
{
    color: green;
    background-color: goldenrod;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    margin: 2px 2px 2px 2px;
    border-radius: 5px;
}
